@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Modern Living</h1>
    <p class="lead">Furniture that tells a story</p>

</div>


<div class="container-fluid">
    <img src="https://www4.pictures.lonny.com/mp/dRHT2aJFsp0x.jpg" height="700" width="1000" alt="Homepage" />
</div>
<hr />

<div class="container-fluid">
    <h2>Welcome!</h2>
    <p style="font-size: large;">
        A house is incomplete without its furniture. Each furniture design is a piece
        of a puzzle that should fit seamlessly into the larger picture. We have a 
        diverse collection where you can easily find a piece that perfectly resonates
        with your personality - The contemporary you, the traditional you, the decor
        loving you, the space-conscious you or the economical you. Our furniture
        store is bound to delight every aspect of your taste. All the products at our
        home furniture store are built from the best-in-class quality raw materials
        and have great finish.
    </p>
    <hr />
    <img src="https://www.asianpaints.com/content/dam/asian_paints/services/beautiful-homes-service/beautiful-homes-homepage-inspiration-livingroom2-asian-paints.jpg" height="500" width="1000" alt="Homepage">
</div>
<hr />
<div class="container-fluid">
    <h2>You Name it, We have it!</h2>
    <p style="font-size:large">
        The immense range at our furniture store allows you to compare
        between various sizes, features, costs and capacity at your leisure. 
        The furniture of your dreams is just a visit away!<br />
    </p>
</div>
<br />
<div class="container-fluid">
    <h2>
        Turn your four walls into a beautiful home.
    </h2>
    <h2>Click the <b>Register</b> button, happy shopping!</h2>
</div>
